@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Lobster&display=swap');

body {
  background: #f4e640;
  margin: 0;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 1.5em;
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  margin: 60px 0;
}
header a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: inline-block;
}
header h1,
header h2 {
  margin: 0;
}
header span {
  display: block;
  line-height: 1em;
  text-transform: none;
}
header span:first-child {
  font-size: 1em;
  font-weight: 400;
}
header span:last-child {
  font-size: 1.5em;
  font-weight: 800;
  font-family: 'Lobster';
}
header h2 {
  font-size: 1.2em;
  font-weight: 400;
}
footer {
  background: #111;
  color: #bbb;
  padding: 40px;
  text-align: center;
  margin-top: auto;
}
.page-content {
  max-width: 1200px;
  margin: 20px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

/* */
.photo-list {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px 60px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 769px) {
  .photo-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .photo-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.content {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: relative;
  top: -20px;
  left: -10px;
  transform: rotateZ(-1deg);
}

.featured {
  display: flex;
  width: auto;
  height: 250px;
  position: relative;
  border: 8px solid white;
  border-radius: 8px;
}

.info {
  padding: 16px 0 0;
}
.info h4 {
  margin: 0 0 0 16px;
}
.info p {
  margin: 0;
  color: #777;
  font-size: 14px;
}
.actions {
  display: flex;
  justify-content: flex-end;
}
.actions a {
  border-top-left-radius: 8px;
  font-size: 16px;
  color: #fff;
  background: #f01b29;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: bold;
}

.actions a:hover {
  opacity: 0.8;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

h2,
h3 {
  text-transform: capitalize;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.banner {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.banner-info {
  max-width: 95%;
  margin: 0 auto;
}

.banner-info h3 {
  margin-top: 0;
}

.banner > div:first-child {
  box-shadow: 0 8px 12px 8px rgba(0, 0, 0, 0.4);
}

.banner h2 {
  margin: 0;
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 20px;
  position: relative;
  top: -15px;
  left: -5px;
  transform: rotateZ(-1deg);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Lobster';
}

.info {
  position: relative;
  width: 100%;
}

.info div {
  display: flex;
  flex-wrap: wrap;
}

.info span {
  margin-right: 6px;
  color: #ececec;
  font-size: 16px;
  background-color: rgba(17, 17, 17, 0.9);
  padding: 2px 5px;
}

@media screen and (min-width: 769) {
  .banner-content {
    display: flex;
    gap: 50px;
  }

  .banner {
    max-width: 50%;
    margin: 0 auto;
  }

  .banner-info {
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .banner-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .banner {
    max-width: 50%;
    flex-basis: 1;
  }

  .banner-info {
    max-width: 50%;
  }
}

.author-notes {
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Times New Roman';
}
